__pycache__/
*.py[cod]
*Thumbs.db

example/posts/*
!example/posts/example_post/
example/www/*
!example/www/example_post.html

!example/www/media/
example/www/media/*
!example/www/media/img/
example/www/media/img/*
!example/www/media/img/anne_frank_diary*

!example/www/sources/
example/www/sources/*
!example/www/sources/*example_post.md

# C extensions
*.so

# env
*-env

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.sass-cache

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
